body {
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    background-image: 
        radial-gradient(at 45% 5%, #B8E8FC 0, transparent 59%), 
        radial-gradient(at 25% 45%, #b2afffb5 0, transparent 55%),
        radial-gradient(at 5% 5%, #B8E8FC 0, transparent 59%), 
        radial-gradient(at 5% 75%, #afebff 0, transparent 55%),
        radial-gradient(at 95% 5%, #b8d8fc 0, transparent 59%), 
        radial-gradient(at 95% 65%, #affcff 0, transparent 55%),
        radial-gradient(at 95% 65%, #cfb8cc 0, transparent 59%); 

}
#header{
    position: absolute;
    margin-left: 25%;
}

#dailybackup{
    display: block;
    position: absolute;
    margin-top: 15%;
    margin-left: 0%;
}
#weeklybackup{
    display: block;
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
}
#ques{
    display: none;
    position: absolute;
    margin-top: 36%;
    
}
#weeklycal{
    display: none;
}
#dailycal{
    display: none;
}
#dailyb{
    display: none;
    position: absolute;
    margin-top: 20%;
}
#weeklyb{
    display: none;
    position: absolute;
    margin-top: 20%;
}